:root {
  --t007-scroll-assist-color: rgb(0 0 0 / 1);
  --t007-scroll-assist-opacity: 0.5;
  --t007-scroll-assist-min-width: 2rem;
  --t007-scroll-assist-height: 2rem;
  --t007-scroll-assist-inline-offset: -0.35rem;
  --t007-scroll-assist-block-offset: 0;
}

.t007-scroll-assist {
  --t007-scroll-assist-gradient-dir: to right;
  position: absolute;
  min-width: var(--t007-scroll-assist-min-width);
  height: 100%;
  opacity: var(--t007-scroll-assist-opacity);
  background: linear-gradient(var(--t007-scroll-assist-gradient-dir), transparent 0, var(--t007-scroll-assist-color) 30%, transparent);
  z-index: 2;
}

.t007-scroll-assist[data-scroll-direction="left"] {
  --t007-scroll-assist-gradient-dir: to right;
  top: 0;
  left: var(--t007-scroll-assist-inline-offset);
}

.t007-scroll-assist[data-scroll-direction="right"] {
  --t007-scroll-assist-gradient-dir: to left;
  top: 0;
  right: var(--t007-scroll-assist-inline-offset);
}

.t007-scroll-assist[data-scroll-direction="up"] {
  --t007-scroll-assist-gradient-dir: to bottom;
  top: var(--t007-scroll-assist-block-offset);
  height: var(--t007-scroll-assist-height);
  width: 100%;
}

.t007-scroll-assist[data-scroll-direction="down"] {
  --t007-scroll-assist-gradient-dir: to top;
  bottom: var(--t007-scroll-assist-block-offset);
  height: var(--t007-scroll-assist-height);
  width: 100%;
}
